.project__slider {
  margin-top: 2rem;
}

.project__item {
  text-align: center;
  padding: 1rem;
}

.project__img {
  width: 100%;
  height: auto; /* Remove fixed height */
  max-height: 400px; /* Set a maximum height for the image */
  object-fit: contain; /* Ensures the image scales proportionally */
  border-radius: 10px;
  margin-bottom: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.project__item:hover .project__img {
  transform: scale(1.05);
}

.project__content {
  padding: 1rem;
}

.project__title {
  font-size: 1.8rem;
  color: #007bff;
  margin-bottom: 0.5rem;
}

.project__description {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
}

/* Custom Arrows Styling */
.custom-next,
.custom-prev {
  background-color: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.custom-next:hover,
.custom-prev:hover {
  background-color: #000000;
}

.custom-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.custom-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

/* Dots Customization */
.slick-dots li button:before {
  font-size: 12px;
  color: #007bff;
}

.slick-dots li.slick-active button:before {
  color: #0056b3;
}

/* Responsive */
@media (max-width: 768px) {
  .project__img {
    max-height: 250px;
  }

  .project__title {
    font-size: 1.5rem;
  }

  .project__description {
    font-size: 1rem;
  }

  .custom-next,
  .custom-prev {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .project__img {
    max-height: 200px;
  }

  .project__title {
    font-size: 1.3rem;
  }

  .project__description {
    font-size: 0.9rem;
  }

  .custom-next,
  .custom-prev {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 350px) {
  .project__img {
    max-height: 180px;
  }

  .project__title {
    font-size: 1.2rem;
  }

  .project__description {
    font-size: 0.85rem;
  }

  .custom-next,
  .custom-prev {
    width: 20px;
    height: 20px;
  }

  .slick-dots li button:before {
    font-size: 10px;
  }
}
