.skills-container {
  padding-bottom: 2rem;
}

.skills-title {
  margin: 5rem 0;
  text-align: center;
  font-size: 3rem;
}

.skills-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  max-width: 350px; 
  width: 100%; 
  transition: transform 0.3s ease;
}

.skill-icon:hover {
  transform: scale(1.1);
}

.skill-icon svg {
  font-size: 5rem; /* Icon size */
}

.react { color: #61DAFB; }
.nextjs { color: #000000; }
.mongodb { color: #47A248; }
.github { color: #181717; }
.node { color: #8CC84B; }
.bootstrap { color: #563D7C; }

@media (max-width: 768px) {
  .skills-title {
    font-size: 2.5rem;
  }

  .skill-icon svg {
    font-size: 4rem;
    grid-template-columns: 2;
  }

}

@media (max-width: 480px) {
  .skills-title {
    font-size: 2rem;
  }

  .skill-icon svg {
    font-size: 4rem; 
    grid-template-columns: 2;
  }
}

@media (max-width: 350px){
  .skills-title {
    font-size: 1.5rem;
  }

  .skill-icon svg {
    font-size: 2.5rem; 
    display: flex;
  }
}