.skills-container {
  padding-bottom: 2rem;
}

.skills-title {
  margin: 5rem 0;
  text-align: center;
  font-size: 3rem;
}

.skills-icons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem; 
}

.skill-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem; 
  max-width: 350px; 
  width: calc(50% - 1rem); 
  transition: transform 0.3s ease;
}

.skill-icon:hover {
  transform: scale(1.1);
}

.skill-icon svg {
  font-size: 5rem; 
}

.react { color: #61DAFB; }
.nextjs { color: #000000; }
.mongodb { color: #47A248; }
.github { color: #181717; }
.node { color: #8CC84B; }
.bootstrap { color: #563D7C; }

@media (max-width: 768px) {
  .skills-title {
    font-size: 2.5rem; 
  }

  .skills-icons {
    gap: 2rem; 
  }

  .skill-icon {
    width: calc(50% - 1rem); 
    padding: 1rem; 
  }

  .skill-icon svg {
    font-size: 4rem; 
  }
}

@media (max-width: 480px) {
  .skills-title {
    font-size: 2rem;
  }

  .skills-icons {
    gap: 1.5rem; 
  }

  .skill-icon {
    width: calc(50% - 1rem); 
    padding: 1rem; 
  }

  .skill-icon svg {
    font-size: 4rem; 
  }
}

@media (max-width: 350px) {
  .skills-title {
    font-size: 1.5rem;
  }

  .skill-icon {
    width: calc(50% - 1rem); 
  }

  .skill-icon svg {
    font-size: 3.5rem; 
  }
}
